<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.system.attendance_management.mapper.StaffMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.system.attendance_management.entity.StaffVo">
        <result column="STAFF_NAME" property="staffName" />
        <collection property=""></collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STAFF_ID, STAFF_NAME, STAFF_SEX, STAFF_PHONE, STAFF_EMAIL, STAFF_PICTURE, STAFF_BIRTHDAY, STAFF_OUTLOOK, STAFF_EDUCATION, DEPT_POST_ID, STAFF_PASS, STAFF_HIREDATE, STAFF_IDENTITY, DEPT_ID, STAFF_MAJOR, STAFF_EMERGENCY, STAFF_WECHAT, STAFF_QQ, STAFF_CREDIT, STAFF_BLOOD, STAFF_SIGN, STAFF_MARITAL, STAFF_REGISTERED, STAFF_SCHOOL, STAFF_ADDRESS, STAFF_STATE, CREATED_TIME, UPDATED_TIME, IS_DELETED, REVISION
    </sql>

</mapper>
