<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.system.recruit_modular.mapper.EvaluateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.system.recruit_modular.entity.Evaluate">
        <id column="EVALUATE_ID" property="evaluateId" />
        <result column="INTERVIEW_ID" property="interviewId" />
        <result column="EVALUATE_TIME" property="evaluateTime" />
        <result column="STAFF_ID" property="staffId" />
        <result column="INTERVIEW_EVALUATE" property="interviewEvaluate" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="REVISION" property="revision" />
        <result column="IS_DELETED" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        EVALUATE_ID, INTERVIEW_ID, EVALUATE_TIME, STAFF_ID, INTERVIEW_EVALUATE, CREATED_TIME, UPDATED_TIME, REVISION, IS_DELETED
    </sql>

</mapper>
